* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #66b4c7;

}


.container {
  width: 930px;
  margin: 0px auto;
  padding: 50px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.fdl {
  padding: 0;
  width: 390px;
  height: auto;
  float: left;
}

.fdr {
  padding: 0;
  width: 390px;
  height: auto;
  float: right;
}

h1 {
  font-size: 36px;
  padding-bottom: 36px;
  margin-bottom: 36px;
  border-bottom: 2px solid #ECECEC;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}


input {
  display: block;
  height: 42px;
  font-size: 14px;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  width: 390px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;

}

label {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-align: left !important;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 12px;
}

a {
  color: #9478e0;
}

input:focus {
  outline: 2px solid #9478e0;
}

input::placeholder {
  font-style: italic;
  font-weight: 400;
}

#file {
  display: ;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 9px 14px;
}


input[type="radio"] {
  background-color: red;
  display: inline-block;
  height: auto;
  width: auto;
  padding: 4px 0 0 0;
  margin: 0 4px 0 0;
  transform: scale(1.3);
  margin-top: -1px;
  vertical-align: middle;
  /* !important */
}

input[type="radio"]:focus {
  outline: none;
}



#checkbox,
#cbtext {
  display: inline-block;
  text-align: left;
}

#checkbox {
  transform: scale(1.5);
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0 10px 0 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  text-align: left;

}

#checkbox:focus {
  outline: none;
}


#speciality {
  display: block;
  margin-bottom: 24px;
  width: 390px;
  height: 42px;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  padding: 10px;
}
#speciality:focus {
  outline: 2px solid #9478e0;
}

/* #speciality1 {
  display: block;
  margin-bottom: 24px;
  width: 390px;
  height: 42px;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  padding: 10px;
}
#speciality1:focus {
  outline: 2px solid #9478e0;
} */



option {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

#submit {
  font-size: 14px;
  padding: 14px 32px;
  background-color: #9478e0;
  color: #fff;
  outline: none;
  display: block;
  margin-top: 24px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
}

#submit:hover {
  background-color: #9478e0;
}

#message {
  width: 390px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding: 14px;
  height: auto;
  border: 1px solid #ECECEC;
  ;
  border-radius: 2px;
  display: block;
  margin-bottom: 24px;
}

#message::placeholder {
  font-family: 'Roboto', sans-serif;
}

#message:focus {
  outline: 2px solid #9478e0;
}

#rgstrb {
  outline: none;
  background-color: #FFFFFF;
  border: 1px solid #0D6EFD;
  border-radius: 4px;
  color: #0D6EFD;
  height: 48px;
  display: inline-block;

}

#rgstrb:hover {
  background-color: #0D6EFD;
  color: #fff;
}

/* @media screen and (min-width: 480px) and (max-width:929px) {
  .container {
    width: 460px;
    padding: 35px;
  }

  .fdl, .fdr {
    float: none;
  }
}

@media screen and (min-width: 391px) and (max-width:479px) {
  .container {
    width: 390px;
    padding: 20px;
  }

  .fdl, .fdr {
    float: none;
  }

  input, #speciality, #message {
    width: 350px;
  }
}

@media  screen and (max-width:390px) {
  .container{
    width: 350px;
    padding: 20px;
  }

  input{
    width: 310px;
  }

  .fdl, .fdr {
    float: none;
  }

  #speciality {
    width: 310px;
  }

  h1{
    padding-bottom: 24px;
    margin-bottom: 24px;
  }

  #message {
    width: 310px;
  }
} */



/*======= HOME PAGE =======*/
.main {
  padding: 0 136px;
}

section {
  overflow: hidden;
}

.col1 {
  float: left;
  width: 50%;
  height: auto;
  display: inline-block;
  position: ;
}

.col2 {
  display: inline-block;
  width: 50%;
  float: right;
}

#homedoc {
  object-fit: cover;
  height: 890px;
  width: 710px;
  border-radius: 24px;
  margin: 70px 0px;
}

.col1 h1 {
  font-size: 100px;
  text-align: left;
  font-weight: 500;
  color: #043C75;
  border-bottom: none;
}

.col1 h2 {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin-top: 200px;
  border-left: 7px solid #FFA97E;
  padding: 8px 0 8px 32px;
}

.col1 span {
  font-size: 24px;
  display: inline-block;
}

.col1 button {
  width: 340px;
  height: 80px;
  display: block;
  font-size: 20px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: #0077FF;
  color: #fff;
  margin-top: 160px;
}


.service {
  margin-bottom: 100px;
  height: auto;
}

.service h1 {
  text-align: center;
  font-size: 60px;
  border-bottom: none;
  margin-bottom: 42px;
  padding-bottom: 0;
  color: #043C75;
}

.service p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 110px;
  overflow: hidden;
}

.service div {
  width: 360px;
  height: 430px;
  float: left;
  border-radius: 24px;
  box-shadow: 0px 20px 30px #D3E3F2;
  margin-bottom: 30px;
  padding: 42px;
  background-color: #F4F4F2;
  transition: height .66s ease-out;
}

.service div:not(:last-child) {
  margin-right: 48px;
}

.service div:hover {
  background-color: #1480EC;
  color: #fff;
  height: 500px;

}

.service span:hover+.hide {
  display: block;
  color: #FFFFFF;
  text-align: left;
  margin-top: 48px;
}

.service span {
  display: inline-block;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.hide {
  display: none;

}

.newsletter {
  height: 640px;
  width: 1600px;
  background-color: #1480EC;
  border-radius: 36px;
}

.newsletter h2 {
  margin: 90px auto 48px;
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.newsletter p {
  display: block;
  text-align: center;
  font-size: 26px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.075rem;
}

.newsletter div {
  background-color: #fff;
  margin: 110px 230px;
  height: 160px;
  border-radius: 24px;
}

.newsletter div button {
  font-size: 26px;
  color: #fff;
  background-color: #1480EC;
  border: none;
  display: inline-block;
  float: right;
  margin: 32px;
  height: 100px;
  width: 240px;
  text-align: center;
  border-radius: 12px;
}

.newsletter div input {
  outline: none;
  border: none;
  display: inline-block;
  float: left;
  margin: auto;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin: 58px 0 58px 48px;
}

footer {
  margin: 220px 0 160px 0;
  overflow: hidden;
}

footer p {
  font-size: 48px;
  text-align: left;
  display: inline-block;
  padding-right: 0;
  margin-right: 0;
  font-weight: 600;

}

footer ul {
  float: left;
  justify-content: space-between;
  margin-left: 80px;
}

footer div {
  width: 450px;
  display: inline-block;
  float: left;
}

footer ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 40px;

}

footer a,
footer a:active,
footer a:visited,
footer a:hover {
  text-decoration: none;
  color: #043C75;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

footer span {
  display: block;
  font-size: 18px;
  text-align: left;
  margin-top: 80px;
}

.tstmnls h1 {
  text-align: left;
  font-size: 60px;
  border-bottom: none;
  margin-bottom: 220px 0 42px;
  padding-bottom: 0;
  color: #043C75;
}

.tstmnls .col1,
.tstmnls .col2 {
  height: 388px;
  width: 800px;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: #fff;
  border-radius: 24px;
}

.tstmnls {
  margin: 220px 0;

}

.tstmnls img {
  background-color: red;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  display: inline-block;
}



.tmtitle {
  font-size: 20px;
  display: inline-block;
  margin: 0 0 15px 10px;
  font-family: 'Roboto', sans-serif;
}

.qname {
  color: #043C75;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 10px 10px;
  font-family: 'Roboto', sans-serif;
}

.quote {
  font-size: 28px;
  width: 590px;
  display: block;
  margin-bottom: 68px;
  font-family: 'Roboto', sans-serif;
}

.qinfo {
  display: inline-block;
}



.mmp {
  margin-bottom: 100px;
  height: auto;
}

.mmp h1 {
  text-align: center;
  font-size: 60px;
  border-bottom: none;
  margin-bottom: 42px;
  padding-bottom: 0;
  color: #043C75;
}

.mmp p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 110px;
  overflow: hidden;
}


.mmp div {
  width: 360px;
  height: 526px;
  float: left;
  border-radius: 24px;
  margin-bottom: 30px;
  background-color: #D5D6D8;
  border: 24px;
}

.mmp div:not(:last-child) {
  margin-right: 48px;
}

.mmp img {
  width: 360px;
  height: 420px;
  object-fit: cover;
  border-radius: 24px 24px 0 0;
  margin-bottom: 16px;
}


.docname {
  font-size: 36px;
  margin: 0px 0 10px 20px;
}

.doctitle {
  font-size: 24px;
  margin: 0 0 16px 20px;
}